<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido a la Escuela</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h1>Bienvenido a la Escuela</h1>

  <div class="card">
    <div class="card-body">
      <h2>Hola, {{usuario.nombre}}</h2>
      <p>{{mensaje}}</p>

      {% if rol == "preceptor" %}
        <a  href="{{ url_for('registrarAsistencia') }}" class="btn btn-info">Registrar Asistencia</a>
      {% endif %}


      <a href="{{ url_for('informeDetalles') }}"  class="btn btn-primary">Informe con detalles</a>

    </div>
  </div>


</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
