<!DOCTYPE html>
<html lang="es">
<head>
  <title>Formulario</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <section>
        <nav class="navbar bg-body-tertiary">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('inicio') }}">Volver</a>
                </button>
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Aceptar</button>
            </form>
        </nav>
    </section>
    <div class="container" style="background-image: url('static/img/papel.jpg.jpg'); height:400px">
      <h2>Formulario de inicio de sesión</h2>
      <form method="POST" action="{{ url_for('ingresar') }}">
        <div class="form-group">
          <label for="email">Correo electrónico:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
