<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a la Escuela</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Formulario</h2>
        <form action="{{ url_for('listarEstudiantesAsistencia') }}" method="POST"  >
            <div class="form-group">
                <label for="curso">Curso:</label>
                <select class="form-control" id="curso" name="curso">
                  {% for curso in cursos %}
                      <option value={{curso.id}}>{{curso.anio}}° Año {{curso.division}}° División</option>
                  {% endfor %}

                </select>
            </div>
            <div class="form-group">
                <label for="clase">Clase:</label>
                <select class="form-control" id="clase" name="clase">
                    <option value="aula">Aula</option>
                    <option value="educacion fisica">Educación Física</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" id="fecha" name="fecha">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
